body {
    background-color: green;
}
h1 {
    text-align: center;
    font-style: italic;
}
div {
    background-color: darkred;
    width: 400px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}
p {
    color: white;
}
 a {
     background-color: black;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
a {
    display: inline-block;
    text-align: center;
}
 a:hover {
    background: coral;
}