.contenedor {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.caja {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja1 {
    border: 2px solid red;
    align-self: flex-start;
}
.caja2 {
    border: 2px solid blue;
    align-self: flex-end;
}
.caja3 {
    border: 2px solid green;
    align-self: flex-start;
}
.caja4 {
    border: 2px solid yellow;
}