body {
    background-image: url("https://i.pinimg.com/736x/55/e4/fd/55e4fdf5440f722acf98d05189405141.jpg");
}
.title {
    text-align: center;
    color: royalblue;
    background-color: black;
    border: 5px dotted red; 
    margin: 50px;
}

.subtitle {
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 30px
}



#caja, #caja2{
    background-color: black;
}

#caja {
    width: 400px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    /* margin-top: 100px;
    margin-bottom: 50px; */
}

#caja p, #caja2 p {
    color: white;
}