.title {
    font-family: 'Almarai', sans-serif;
}
.title2 {
    font-family: 'Architects Daughter', cursive;
}
.title3 {
    font-family: 'Cinzel', serif;
}
.tittle4 {
    font-family: 'Grenze Gotisch', cursive;
}
.title5 {
    font-family: 'Noto Sans JP', sans-serif;
}